html, body {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    /*background-color: #303030;*/
    font-family: 'Alegreya Sans SC';
    color: #232326;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    background: #143b67;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.github {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 0;
    margin: 10px;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

p#info {
    position: absolute;
    bottom: 0;
    margin: 10px;
}

a {
    color: #a75400;
    text-decoration: none;
}

#controls {
    position: absolute;
    list-style-type: none;
    display: block;  /* Remove bullet points; allow greater control of positioning */
    padding: 0;      /* Override defaults for lists */
    margin: 0;       /* Override defaults for lists */
    width: 100%;     /* Get the row full width */
}

#controls > li {
    margin: 0 5px;
    padding: 0;
    float: left;
}

#controls > li:after {
    content: '~';
    color: #999;
}

#controls > li:last-child:after {
    content: none;
}

#controls > li a, #controls > li label {
    margin-right: 10px;
    font-size: 1.2em;
    color: #232326;
    line-height: 2em;
}

#controls > li select {
    color: #333;
    font-size: 1em;
}

#controls > li a:hover {
    color: #ff7600;
}

#scene {
    height: 100%;
}
